html {
  font-size: 18px;}

body {
  font-family: Helvetica;

  }

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

.logo{
  height: 3rem;
  background-color: black;
  font-size: 1rem;
  color: white; 
  display: flex;	 
  align-items: center;
}

.logo img {
      margin-right: 1rem;
      margin-left: 0.5rem;
      height: 1.5rem;
      align-items: center;
    }

.banner{
      display: flex;
      background-image:url("../images/moto.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 25rem;
    }

.arrival {
    width: 20rem;
    height: 14rem;
    padding: 2rem 3rem;
    background-color: black;
    color: white;
    position: relative;
    top: 6rem;
    left: 10rem;
}

.navigation{
  background-color: firebrick;
  padding: 0.75rem;
  text-align: center;

}

.navigation.nav{
  color: white;
}

.container {
  width: 960px;
}

.products {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.item {
  display: flex;
}

.product-pen {
  border: 1px solid black;
}

.product-watch {
  border: 1px solid black;
}

.product-glasses {
  border: 1px solid black;
}

.band {
  background-color: black;
  display: block;
}

.item img {
    width: 50%;
}

.description {
    color: white;
    text-align: center;
    padding: 0.5rem;
  }

  .info {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 4rem;
  }

  .bar {
    background-color: black;
    display: block;
  }

  .lowdown {
      color: white;
      text-align: left;
      padding: 0.5rem;
    }


.copyright{
    background-color: black;
    display: flex;
    height: 5rem;
    align-items: center;

  }

  .right {
    color: white;
    text-align: left;
    padding: 30px;
  }

  .footer {
      width: 960px;
  }
