html {
  font-size: 18px;}

body {
  font-family: Helvetica;

  }

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

.logo{
  height: 3rem;
  background-color: black;
  font-size: 1rem;
  color: white; 
  display: flex;	 
  align-items: center;
}

.logo img {
      margin-right: 1rem;
      margin-left: 0.5rem;
      height: 1.5rem;
      align-items: center;
    }

a {
    color:white;
    }

    .banner{
          background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 25rem;
    }


    .arrival {
      width: 20rem;
      height: 14rem;
      padding: 2rem 3rem;
      background-color: black;
      color: white;
      position: relative;
      top: 6rem;
      left: 10rem;
  
    }


.navigation{
  background-color: firebrick;
  padding: 0.75rem;
  text-align: center;

}

.navigation.nav{
  color: white;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.products {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.item {
 display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
}

.product-pen {
  width: 30%;
  border: 1px solid black;
}

.product-watch {
  width: 30%;
  border: 1px solid black;
}

.product-glasses {
  width: 30%;
  border: 1px solid black;
}

.band {
  background-color: black;
  display: block;
}

.item img {
    width: 50%;
    height: 50%;
}

.description {
    color: white;
    text-align: center;
    padding: 0.5rem;
  }

  .info {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-bottom: 4rem;
  }

  .bar {
    background-color: black;
    display: block;
  }

  .lowdown {
      color: white;
      text-align: left;
      padding: 0.5rem;
    }


.copyright{
    background-color: black;
    display: flex;
    height: 5rem;
    align-items: center;

  }

  .right {
    color: white;
    text-align: left;
    padding: 30px;
  }

  .footer {
      width: 960px;
  }
